<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title>Footcompany</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Sobre a FootCompany</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>O aplicativo será uma plataforma voltada para a gestão de jovens 
        jogadores que buscam ingressar no futebol profissional. Ele permitirá que os
        jogadores criem e mantenham perfis com suas informações pessoais, habilidades e
        próximos compromissos (partidas e treinos). Os técnicos poderão acompanhar o progresso
        dos jogadores, avaliar suas habilidades e elaborar seus treinos.<br><br></p>

      <h1><strong>Idealizadores do Projeto:</strong></h1> 

      <ion-card>
        <ion-card-header>
          <ion-card-title>Douglas Tambasco</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-img src="assets/Douglas.jpg" class="idealizador-img"></ion-img>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Samuel Oliveira</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-img src="assets/Samuel.jpg" class="idealizador-img"></ion-img>
        </ion-card-content>
      </ion-card>

      <!-- Adicione mais detalhes sobre a empresa aqui -->
    </ion-card-content>
  </ion-card>
</ion-content>
