<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/gym"></ion-back-button> <!-- Botão de voltar -->
    </ion-buttons>
    <ion-title>Treino com Bola</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Card 1: Coletivo -->
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/coletivo.png" alt="Coletivo">
      </ion-thumbnail>
      <ion-label>
        <h2>Coletivo</h2>
        <p>Tempo de Atividade: 25 minutos
          <br>Dia da semana: Quarta e Sexta-feira
        </p> <!-- Informação de tempo -->
      </ion-label>
    </ion-item>
  </ion-card>

    <!-- Card 2: Cob. de Falta -->
    <ion-card>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/falta.png" alt="Falta">
        </ion-thumbnail>
        <ion-label>
          <h2>Cob. de Faltas</h2>
          <p>Tempo de Atividade: 25 minutos
            <br>Dia da semana: Quarta e Sexta-feira
          </p> <!-- Informação de tempo -->
        </ion-label>
      </ion-item>
    </ion-card>

   <!-- Card 3: Cob de esc. -->
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/esc.png" alt="Escanteio">
      </ion-thumbnail>
      <ion-label>
        <h2>Cob. de Escanteio</h2>
        <p>Tempo de Atividade: 25 minutos
          <br>Dia da semana: Quarta e Sexta-feira
        </p> <!-- Informação de tempo -->
      </ion-label>
    </ion-item>
  </ion-card>

    <!-- Card 4: Cob de penalti -->
    <ion-card>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/penalti.png" alt="Penalti">
        </ion-thumbnail>
        <ion-label>
          <h2>Cob. de Penalti</h2>
          <p>Tempo de Atividade: 25 minutos
            <br>Dia da semana: Quarta e Sexta-feira
          </p> <!-- Informação de tempo -->
        </ion-label>
      </ion-item>
    </ion-card>

  </ion-content>