<ion-header>
  <ion-toolbar>
    <ion-title>
      Olá, {{ userName }}
    </ion-title>
    <img src="assets/logo.jfif" alt="Logo" class="rounded-logo-header">
    <img src="assets/logout.png" alt="Logout" class="logout-icon" (click)="logout()">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="label-top">
    <span class="section-label">Seus treinos agendados:</span>
  </div>

  <!-- Retângulo 1 -->
  <div class="rectangle-container" routerLink="/academia">
    <div class="rectangle">
      <img src="assets/peso.png" alt="Imagem Grande" class="large-image">
      <div class="rectangle-content">
        <div class="label-container">
          <span class="label">Academia</span>
        </div>
        <div class="label-green"></div>
      </div>
    </div>
  </div>

  <!-- Retângulo 2 - Redirecionamento para "Treino com Bola" -->
  <div class="rectangle-container" routerLink="/treino-com-bola"> <!-- routerLink adicionado -->
    <div class="rectangle">
      <img src="assets/bola.png" alt="Imagem Grande" class="large-image">
      <div class="rectangle-content">
        <div class="label-container">
          <span class="label">Trabalho com bola</span>
        </div>
        <div class="label-green"></div>
      </div>
    </div>
  </div>

  <!-- Retângulo 3 -->
  <div class="rectangle-container" routerLink="/trabalho-sem-bola">
    <div class="rectangle">
      <img src="assets/campo.png" alt="Imagem Grande" class="large-image">
      <div class="rectangle-content">
        <div class="label-container">
          <span class="label">Trabalho sem bola</span>
        </div>
        <div class="label-green"></div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/home">
        <img src="assets/icones/home.png" alt="Home" class="nav-icon">
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/gym">
        <img src="assets/icones/malhacao.png" alt="Malhação" class="nav-icon">
        <ion-label>Treinos</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/mensagem">
        <img src="assets/icones/mensagem.png" alt="Mensagem" class="nav-icon">
        <ion-label>Mensagem</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/perfil">
        <img src="assets/icones/perfil.png" alt="Perfil" class="nav-icon">
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>
