<ion-header>
  <ion-toolbar>
    <ion-title>Olá, {{ userName }}</ion-title>
    <img src="assets/logo.jfif" alt="Logo" class="rounded-logo-header">
    <img src="assets/logout.png" alt="Logout" class="logout-icon" (click)="logout()">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home-container">
    <!-- Exibir informações da última partida -->
    <ion-card class="matches-container" *ngIf="latestMatch">
      <ion-card-header>
        <ion-card-title>Próxima Partida</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Time Adversário:</strong> {{ latestMatch.timeAdversario }}</p>
        <p><strong>Data da Partida:</strong> {{ latestMatch.dataPartida | date: 'dd/MM/yyyy' }}</p>
        <p><strong>Hora da Partida:</strong> {{ latestMatch.horaPartida }}</p>
        <p><strong>Local da Partida:</strong> {{ latestMatch.localPartida }}</p>
      </ion-card-content>
    </ion-card>

    <!-- Exibir informações do jogador -->
    <ion-card class="profile-card" *ngIf="player">
      <ion-card-header>
        <ion-card-title>Seus dados, Craque!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Perna Dominante:</strong> {{ player.pernaPreferida }}</p>
        <p><strong>Número da Camisa:</strong> {{ player.numeroCamisa }}</p>
        <p><strong>Posição:</strong> {{ player.posicao }}</p>
        <p><strong>Altura:</strong> {{ player.altura }} cm</p>
        <p><strong>Peso:</strong> {{ player.peso }} kg</p>
        <p><strong>Idade:</strong> {{ player.age }} anos</p>
        <p><strong>Total de Gols:</strong> {{ totalGoals }}</p>
        <p><strong>Total de Assistências:</strong> {{ totalAssists }}</p>
      </ion-card-content>
    </ion-card>

    <!-- Campos para adicionar gols e assistências -->
    <ion-card class="stats-form">
      <ion-card-header>
        <ion-card-title>Bagunçou hoje, Craque?!!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Gols</ion-label>
          <ion-input [(ngModel)]="newGoals" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Assistências</ion-label>
          <ion-input [(ngModel)]="newAssists" type="number"></ion-input>
        </ion-item>
        <ion-button expand="full" (click)="saveStats()">Salvar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/home">
        <img src="assets/icones/home.png" alt="Home" class="nav-icon">
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/gym">
        <img src="assets/icones/malhacao.png" alt="Malhação" class="nav-icon">
        <ion-label>Treinos</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/mensagem">
        <img src="assets/icones/mensagem.png" alt="Mensagem" class="nav-icon">
        <ion-label>Preferência</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/perfil">
        <img src="assets/icones/perfil.png" alt="Perfil" class="nav-icon">
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>
